<!DOCTYPE html>

<html lang="en">

<head>
	<title>Eaton von Burger</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
	<div class="container">
		<h1>Welcome to Eaton von Burger!</h1>
		<div class="row">
			<div class="col-lg-4"></div>
			<div class="col-lg-4">
				<br />
				<form action="/" method="POST">
					<label for="burger_name">Add the burger you would like to be eatin'</label>
					<textarea type="text" name="burger_name"></textarea>
					<br />
					<button class="btn btn-success" type="submit">Scarf</button>
				</form>
			</div>
		</div>
		<br />

		{{{ body }}}
		
	</div>
</body>

</html>